/**
 * Style sheets
 *
 * @package     local_massimilate
 * @author      Rémi Lefeuvre
 * @copyright   (C) Rémi Lefeuvre 2016
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

.dropfile-system {
    background: #FFF;
    border: 1px solid #BBB;
}

.dropfile-container {
    position: relative;
    margin: 10px;
    border: 2px dashed #BBB;
    text-align: center;
}

.dropfile {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

ul {
    margin: 0px;
    padding: 0px;
}

#step-upload-validate .panel-title {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bolder;
    text-shadow: none;
}

#step-upload-validate .panel-body {
    background-color: #FFF;
    border: 1px solid #BBB;
}

.nav-tabs > li.disabled > a:hover,
.nav-tabs > li.disabled > a:focus {
    margin-top: 0px;
}

.alert {
    font-weight: bolder;
}

.alert input {
    background-color: #FF851B;
}

.alert input:hover {
    background-color: #FF7701;
}

.jumbotron {
    background-color: inherit;
    box-shadow: none;
    border: none;
}

#mooring-navbar li {
    margin: 0px;
}

body.vital #mooring-navbar li.active a {
    background-color: #47a3da;
}

body.vital #mooring-navbar li.active a:focus,
body.vital #mooring-navbar li.active a:hover {
    background-color: #288bc6;
}       

body.vital #mooring-navbar li.active h4 {
    color: white;
}

.tiles {
    
}

.tile {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:20px;
}

.tile-user {
    padding: 5px;
    background: #47beda;
    color: #FFF;
    vertical-align: center;
}

.tile-user h2 > div {
    margin: auto;
    width: fit-content;
}

.delete-member {
    color: #FFF;
}

.cohort-tile {
    background: #47a3da;
    color: #FFF;
}

.cohort-tile {
    text-decoration: unset;
}

.cohort-link a:hover {
    text-decoration: none;
}

.cohort-tile:hover {
    background-color: #b0bdc6;
}

.delete-member {
    opacity: 1;
}

.delete-member:hover {
    opacity: 0.4;
}

.tile h2,
a h2 {
    color: #FFF;
    text-shadow: none;
    
}

a.btn h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    white-space: normal;
}

a.btn {
    border-radius: 0;
}

.cohort-modal-content {
    padding: 0px;
}

.cohort-modal-header {
    padding: 0px;
    background-color: #718DA3;
}

.cohort-modal-header h3 {
    font-size: 30px;
    color:white;
    padding: 15px;
}

.cohort-modal-header button{
    padding: 15px;
    margin: 0px !important;
    color: white !important;
    vertical-align: middle !important;
    opacity: 1 !important;
    height: max-content;
    font-size: 200%;
    display: block;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.cohort-modal-body {
    background-color: rgb(245, 239, 239);
    font-size: large;
}

.cohort-modal-body .btn {
    display: block;
    margin: auto !important;
}

.cohortmember-deletion-body {
    padding-bottom: 10px;
}